<section class="about #about-me">
    <div class="container">
      <h1 class="visually-hidden">About me</h1>
      
      
        <div class="ab">
        <div class="about-me">
         
         
            <p class="text-main">I work with people all over the world to create impressive and <span id="func">functional</span> <span
              id="websites">websites</span> that reflect each client's
            unique
            personality.</p>
        
        
        </div>
        
        
        <div>
          <picture>
        <source srcset="./images/jpg_mobile/image_mobile.jpg 1x, 
        ./images/jpg_mobile/image_mobile@2x.jpg 2x" media="(max-width: 767px)"/>
        <source srcset="./images/jpg_tablet/image_tablet.jpg 1x, 
        ./images/jpg_tablet/image_tablet@2x.jpg  2x " media="(min-width: 768px)"/>
        <source srcset="./images/jpg_desktop/image_desktop.jpg 1x,  
        ./images/jpg_desktop/image_desktop@2x.jpg 2x" media="(min-width: 1158px)"/>
        <img src="./images/jpg_mobile/image_mobile.jpg" class="my-photo" alt="my-photo"/>
        
    </picture>
      </div>


</div>
<div class="am-main">
<div class="main-accordion">
  <div class="ac-header am-accordion-wrap">
    <button type="button" class="ac-trigger">About me 
      <svg class="ac-icon">
        <use href="../images/icons.svg#Accordeon-top"></use>
      </svg>
    </button>
  </div>
  <div class="ac-panel">
    <ul class="about-me-list about-me-text">
      <li>
        I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
        understanding of
        different programming languages and technologies, always ready to improve my skills. I always follow
        the
        latest trends
        and look for unconventional, creative solutions to problems. I have a high level of analytical skills
        and am
        able to
        effectively solve even the most difficult tasks encountered on the way.
      </li>
      <li>
        Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging
        ideas
        and finding
        optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
        situations,
        while
        maintaining a high quality of work.I am always looking for opportunities for self-improvement. I
        actively
        study new
        technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
        various
        programming languages, frameworks and architectural concepts that allow me to create efficient and
        scalable
        software.
      </li>
    </ul>
  </div>
</div>
<div class="main-accordion">
  <div class="ac-header am-accordion-wrap">
    <button type="button" class="ac-trigger">Role <svg class="ac-icon">
        <use href="../images/icons.svg#Accordeon-bottom"></use>
      </svg></button>
  </div>
  <div class="ac-panel">
    <ul class="about-me-list about-me-text">
      <li>
        Frontend development
      </li>
      <li>
        HeadlessCMS, Wordpress
      </li>
      <li>
        Blender(enjoy)
      </li>
    </ul>
  </div>
</div>
<div class="main-accordion">
  <div class="ac-header am-accordion-wrap">
    <button type="button" class="ac-trigger" aria-expanded="true">Education <svg class="ac-icon">
        <use href="../images/icons.svg#Accordeon-bottom"></use>
      </svg></button>
  </div>
  <div class="ac-panel">
    <ul class="about-me-list about-me-text">
      <li>
        2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
      </li>
      <li>
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
      </li>
      <li>
        2020 - 2022 / Advanced Blender Animation Techniques, Academy
      </li>
    </ul>
    <div class="about-me-swiper">
        <div class="about-me-swiper-wrapper">
          <div class="about-me-swiper-slide-backing"></div>
          <div class="about-me-swiper-slide">Frontend development</div>
          <div class="about-me-swiper-slide">GoIT IT School</div>
    </div>
  
</div>


</div>

</div>
</section>
