<section class="aboutme">
    <div class="container-aboutme">
        <h1 class="visually-hidden">About me</h1>
       
       
    <div class="info-aboutme">  
        <div class="info-aboutme-text">  
            <p>
            I work with people all over the world to create impressive and <span id="func">functional</span> <span id="websites">websites</span> that reflect each client's unique personality.
            </p>
        </div>
        <picture>
        <source src="">
        <source src="">
        <source src="">
        <img src="" class=""/>
        
        </picture>
        </div>
      


    <div class="accordion">  </div>
    <div class="section-accordion-one"></div>


    <div class="accordion-block"><p class="ac-name">About me</p> <svg class="ac-icon" 
        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
      </svg></div>
           
           

          <div class="overflow">
            <ul class="aboutme-list aboutme-text">
                <li>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
                    understanding of
                    different programming languages and technologies, always ready to improve my skills. I always follow
                    the
                    latest trends
                    and look for unconventional, creative solutions to problems. I have a high level of analytical skills
                    and am
                    able to
                    effectively solve even the most difficult tasks encountered on the way.
        </li>
        
        <li>
            Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging
            ideas
            and finding
            optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
            situations,
            while
            maintaining a high quality of work.I am always looking for opportunities for self-improvement. I
            actively
            study new
            technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
            various
            programming languages, frameworks and architectural concepts that allow me to create efficient and
            scalable
            software.
        
        </li>
             </ul>
          </div>
<div>
    <div class="accordion-block"><p class="ac-name">Role</p> <svg class="ac-icon" 
        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
      </svg></div>
    <div class="overflow"><ul class="aboutme-list aboutme-text">
        <li>Frontend development</li>
        <li>HeadlessCMS, Wordpress</li>
        <li>Blender(enjoy)</li>
    </ul></div>
</div>
<div>
    <div class="accordion-block"><p class="ac-name">Education</p> <svg class="ac-icon" 
        viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 12.5L10 7.5L5 12.5" stroke="#FAFAFA" stroke-width="2" />
      </svg></div>
    <div class="overflow"><ul class="aboutme-list  aboutme-text">
        <li> 2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
        <li>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
        <li> 2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
    </ul></div>
    
</div>
    </div>
</div>
</section>