<section class="about-me-container container">
    <div class="about-me-section">
      <h2 class="visually-hidden">About me</h2>
      <div class="about-me-description-and-photo-wrapper">
      <div class="about-me-description">
        <div class="about-me-wrapper">
        <p class="about-me-text">I work with people all over the world to create impressive and 
          <span class="func">functional</span> <span class="websites">websites</span> that reflect each client's unique personality.</p>
        </div>
    </div>
        <div class="picture">
              <source srcset="./images/jpg_desktop/image_desktop.jpg 1x,  
              ./images/jpg_desktop/image_desktop@2x.jpg 2x" media="(min-width: 1158px)"/>
              <source srcset="./images/jpg_tablet/image_tablet.jpg 1x, 
              ./image/jpg_tablet/image_tablet@2x.jpg 2x" media="(min-width: 768px)"/>
              <source srcset="./images/jpg_mobile/image_mobile.jpg 1x, 
              ./images/jpg_mobile/image_mobile@2x.jpg 2x" media="(max-width: 767px)"/>
              <img src="./images/jpg_mobile/image_mobile.jpg" alt="my-photo"/>
      </div>

      <div class="accordion-in-about-me">
        <ul class="about-me-list">
          <li class="accordion-ab">
            <div class="about-me-title active" data-tab="tab1">
              <h2 class="ac-title">
                About me
              </h2>
              <div class="first-title-about-me" id="tab1">
                <p class="first-title-text">
                  I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
                  understanding of
                  different programming languages and technologies, always ready to improve my skills. I always follow
                  the
                  latest trends
                  and look for unconventional, creative solutions to problems. I have a high level of analytical skills
                  and am
                  able to
                  effectively solve even the most difficult tasks encountered on the way.
                </p>
                <p class="first-title-text">
                  Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
                </p>
              </div>
              <span>
                <svg class="ac-icon" width="20" height="20">
                  <use href="./images/icons.svg#Accordeon-top"></use>
                </svg>
              </span>
            </div>
            <div class="line-between-accordion-item"></div>
          </li>
          <li class="accordion-ab">
            <div class="about-me-title" data-tab="tab2">
              <h2 class="ac-title">Role</h2>
              <div class="first-title-about-me accordion-open-about-me" id="tab2">
                <p class="first-title-text">
                  Frontend development
                </p>
                <p class="first-title-text">
                  HeadlessCMS,Wordpress
                </p>
                <p class="first-title-text">
                  Blender(enjoy)
                </p>
              </div>
              <span>
                <svg class="ac-icon" width="20" height="20">
                  <use href="./images/icons.svg#Accordeon-top"></use>
                </svg>
              </span>
            </div>
            <div class="line-between-accordion-item"></div>
          </li>
          <li class="accordion-ab">
            <div class="about-me-title" data-tab="tab3">
              <div>
                <h2 class="ac-title">Education </h2>
                <div class="first-title-about-me accordion-open-about-me" id="tab3">
                  <p class="first-title-text">
                    2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York
                  </p>
                  <p class="first-title-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                  <p class="first-title-text">
                    2020 - 2022 / Advanced Blender Animation Techniques, Academy
                  </p>
                </div>
                <span>
                  <svg class="ac-icon" width="20" height="20">
                    <use href="./images/icons.svg#Accordeon-top"></use>
                  </svg>
                </span>
              </div>
            </div>
            <div class="line-between-accordion-item"></div>
          </li>
        </ul>
        </div>
  </section>