<div class="covers">
  <div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/first_screen_1.jpeg    1x,
                /images/Covers/first_screen_1@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/first_screen_1.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_11.jpeg    1x,
                /images/Covers/Rectangle_11@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_11.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_12.jpeg    1x,
                /images/Covers/Rectangle_12@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_12.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_10.jpg    1x,
                /images/Covers/Rectangle_10@2x.jpg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_10.jpg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_7.jpeg    1x,
                /images/Covers/Rectangle_7@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_7.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_6.png    1x,
                /images/Covers/Rectangle_6@2x.png 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_6.png"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
      </div>
      <div class="marquee__inner">
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_6.png    1x,
                /images/Covers/Rectangle_6@2x.png 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_6.png"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/first_screen_1.jpeg    1x,
                /images/Covers/first_screen_1@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/first_screen_1.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_4.jpeg    1x,
                /images/Covers/Rectangle_4@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_4.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_11.jpeg    1x,
                /images/Covers/Rectangle_11@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_11.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_8.jpeg    1x,
                /images/Covers/Rectangle_8@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_8.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_10.jpg    1x,
                /images/Covers/Rectangle_10@2x.jpg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_10.jpg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
      </div>

      <div class="marquee__inner">
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_9.jpeg    1x,
                /images/Covers/Rectangle_9@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_9.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_5.jpeg    1x,
                /images/Covers/Rectangle_5@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_5.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_9.jpeg    1x,
                /images/Covers/Rectangle_9@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_9.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/first_screen_1.jpeg    1x,
                /images/Covers/first_screen_1@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/first_screen_1.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_12.jpeg    1x,
                /images/Covers/Rectangle_12@2x.jpeg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_12.jpeg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
        <p class="marquee__line">
          <picture>
            <source
              srcset="
                /images/Covers/Rectangle_10.jpg    1x,
                /images/Covers/Rectangle_10@2x.jpg 2x
              "
            />
            <img
              src="/images/Covers/Rectangle_10.jpg"
              alt="project photo"
              class="covers-img"
            />
          </picture>
        </p>
      </div>
    </div>
  </div>
</div>
