<section class="faq-section">
  <div class="faq-container container">
    <h1 class="visually-hidden">faq</h1>

    <div class="accordion-in-faq">
      <ul class="faq-list">
        <li class="accordion rigt-border">
          <div class="faq-title faq-title-left" data-tab="tab1">
            <h2>
              What programming languages are most often used in your project?
            </h2>
            <div class="accordion-open" id="tab1">
              <p>
                In the field of web development, there are various technologies
                and programming languages. Typically, this includes a
                combination of frontend (client side) and backend (server side)
                languages.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="accordion border-none">
          <div class="faq-title faq-title-right" data-tab="tab2">
            <h2>How can I contact you?</h2>
            <div class="accordion-open" id="tab2">
              <p>
                In the field of web development, there are various technologies
                and programming languages. Typically, this includes a
                combination of frontend (client side) and backend (server side)
                languages.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="accordion rigt-border">
          <div class="faq-title faq-title-left" data-tab="tab3">
            <h2>What are the deadlines for the project?</h2>
            <div class="accordion-open" id="tab3">
              <p>
                The terms of project implementation depend to a large extent on
                a number of factors, such as the scope of the project, its
                complexity, and the availability of resources. Determining exact
                deadlines is a difficult task, and it usually occurs during the
                planning phase of the project.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="accordion border-none">
          <div class="faq-title faq-title-right" data-tab="tab4">
            <h2>Do you provide advice or support?</h2>
            <div class="accordion-open" id="tab4">
              <p>
                The terms of project implementation depend to a large extent on
                a number of factors, such as the scope of the project, its
                complexity, and the availability of resources. Determining exact
                deadlines is a difficult task, and it usually occurs during the
                planning phase of the project.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="accordion rigt-border">
          <div class="faq-title faq-title-left" data-tab="tab5">
            <h2>What payment methods do you accept?</h2>
            <div class="accordion-open" id="tab5">
              <p>
                Payment through credit and debit cards such as Visa, MasterCard,
                specialized electronic payment systems such as PayPal, as well
                as payments in cryptocurrencies such as Bitcoin, Ethereum and
                others.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use>
              </svg>
            </span>
          </div>
        </li>

        <li class="accordion border-none">
          <div class="faq-title faq-title-right" data-tab="tab6">
            <h2>
              What does the process of developing a software product look like
              from idea to implementation?
            </h2>
            <div class="accordion-open" id="tab6">
              <p>
                Payment through credit and debit cards such as Visa, MasterCard,
                specialized electronic payment systems such as PayPal, as well
                as payments in cryptocurrencies such as Bitcoin, Ethereum and
                others.
              </p>
            </div>
            <span>
              <svg class="faq-icon" width="20" height="20">
                <use href="./images/icons.svg#Accordeon-top"></use></svg
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
