        <!-- =====================OCHERETKO OLEH(START)==================== -->

<div class="containerHeader">
    <section class="fatherSection">

        <div class="positionBurger">
            <a href="../index.html" class="logo-flex">
                <img src="../images/logo_vector@2x.jpeg" alt="logo" class="logo">
                  <h3 class="logo-jef">jefferson*</h3></a>

          <svg class="iconBurger">
              <use href="../images/icons.svg#menu-mob"></use>
          </svg>
        </div>


<nav class="nav-link">
    <ul class="li-Cuild-Ul">
        <li class="link-item">
                <a href="./about-me.html">About me</a>
        </li>

        <li class="link-item">
                <a href="./benefits.html">Benefits</a>
        </li>

        <li class="link-item">
                <a href="./projects.html">Projects</a>
        </li>

        <li class="link-item">
                <a href="./faq.html">FAQ</a>
        </li>
    </ul>
    <div class="link-order">
        <a href="./work-together.html"><h3 class="orderH3">Order the project</h3></a>
    </div>
</nav>
    </section>
</div>
        

                <!-- =====================OCHERETKO OLEH(END)==================== -->