
<!-- =====================OCHERETKO OLEH(START)==================== -->

<section class="father-section">
  <header class="centering">
    <a
      href="https://volodymyr180688.github.io/JavaScriptMasters/"
      class="logo-flex"
    >
      <img src="/images/logo_vector.jpeg" alt="logo" class="logo" />
      <h3 class="logo-jef">jefferson*</h3>
    </a>

    <div class="position-menu">
      <p class="menu">Menu</p>
      <ul class="hidden-menu">
        <li class="menu-list"><a href="#About-me">About-me</a></li>
        <li class="menu-list"><a href="#benefits">Benefits</a></li>
        <li class="menu-list"><a href="#projects">Projects</a></li>
        <li class="menu-list"><a href="#section-faq">FAQ</a></li>
      </ul>
    </div>

    <a href="#work-together" class="link-order-tablet-dacktop">
      <span class="order-h3-tablet-desktop">Order the project</span>
    </a>
    <svg class="icon-burger" id="myBtn">
      <use href="/images/icons.svg#menu-mob"></use>
    </svg>
  </header>

  <!-- ================Modal Window============================ -->
  <div id="myModal" class="modal">
    <svg class="close">
      <use href="/images/icons.svg#close"></use>
    </svg>
    <div class="modal-content">
      <ul class="li-cuild-ul">
        <li class="link-item">
          <a href="#About-me" class="reff">About-me</a>
        </li>
        <li class="link-item">
          <a href="#benefits" class="reff">Benefits</a>
        </li>
        <li class="link-item">
          <a href="#projects" class="reff">Projects</a>
        </li>
        <li class="link-item">
          <a href="#section-faq" class="reff">FAQ</a>
        </li>
      </ul>
      <a href="#work-together" class="link-order">
        <span class="order-h3">Order the project</span>
      </a>
    </div>
  </div>
</section>
<!-- =====================OCHERETKO OLEH(END)==================== -->



    <script src="script.js"></script>
</body>
</html>




