        <!-- =====================OCHERETKO OLEH(START)==================== -->

        <section class="fatherSection">
            <div class="logo">
                <a href="../index.html" class="logo-flex">
                    <img src="https://e7.pngegg.com/pngimages/724/545/png-clipart-site-etc-consultoria-web-logo-square-quadrado-angle-rectangle.png" width="80" height="80" alt="Logo">
                <h3 class="logo-jef">jefferson*</h3>
                </a>
            </div>
                <nav class="nav-link">
                    <ul class="li-Cuild-Ul">
                        <li class="link-item">
                                <a href="./about-me.html">About me</a>
                        </li>
            
                        <li class="link-item">
                                <a href="./benefits.html">Benefits</a>
                        </li>
            
                        <li class="link-item">
                                <a href="./projects.html">Projects</a>
                        </li>
            
                        <li class="link-item">
                                <a href="./faq.html">FAQ</a>
                        </li>
                    </ul>
                    <div class="link-order">
                        <a href="./work-together.html"><h3 class="orderH3">Order the project</h3></a>
                    </div>
                </nav>
            
    <div class="burger">
        <svg class="iconBurger">
            <use href="#"></use>
        </svg>
    </div>
        </section>
