
        <!-- =====================OCHERETKO OLEH(START)==================== -->

        <div class="containerHero">
            <section class="fatherHeroSaction">
        
                <h1 class="kingText">Hello. <br> I’m Fullstack developer Lloyd Jefferson.</h1>
                <ul class="link-message">
                    <li class="item-link-mesage"><a class=" messages" href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
            
                    <li class="item-link-mesage"><a class=" messages" href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
            
                    <li class="item-link-mesage"><a class=" messages" href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
            
                    <li class="item-link-mesage"><a class=" messages" href="https://github.com/Volodymyr180688/JavaScriptMasters" target="_blank">GH</a></li>
            
                    <li class="item-link-mesage-mailto"><a class="email" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
                </ul>
            
            </section>
        </div>
        
                        <!-- =====================OCHERETKO OLEH(END)==================== -->