
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- =====================OCHERETKO OLEH(START)==================== -->

    <section class="fatherSection">
        <div class="logo">
            <a href="../index.html">
                <img src="https://e7.pngegg.com/pngimages/724/545/png-clipart-site-etc-consultoria-web-logo-square-quadrado-angle-rectangle.png" width="80" height="80" alt="Logo">
            <h3>jefferson*</h3>
            </a>
        </div>
            <nav>
                <ul>
                    <li class="link-item">
                            <a href="./about-me.html">About me</a>
                    </li>
        
                    <li class="link-item">
                            <a href="./benefits.html">Benefits</a>
                    </li>
        
                    <li class="link-item">
                            <a href="./projects.html">Projects</a>
                    </li>
        
                    <li class="link-item">
                            <a href="./faq.html">FAQ</a>
                    </li>
                </ul>
                <div>
                    <a href="./work-together.html"><h3>Order the project</h3></a>
                </div>
            </nav>
        
                <svg class="iconBurger">
                    <use href="#"></use>
                </svg>
    </section>
    
    <!-- =====================OCHERETKO OLEH(END)====================== -->
</body>
</html>