<div class="mobile-menu">
  <div class="container">
    <button class="close-menu-btn" type="button">
      <svg class="close-menu-icon" width="14" height="14">
        <use href="../images/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a href="#about-me" class="mobile-menu-item-link">About me</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#benefits" class="mobile-menu-item-link">Benefits</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#projects" class="mobile-menu-item-link">Projects</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#faq" class="mobile-menu-item-link">FAQ</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu-button">
      <a class="mobile-menu-button-link" href="#project">Order the project</a>
    </button>
  </div>
</div>
