<section id="projects" class="projects">
  <h2 class="visually-hidden">Projects</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-content">
          <ul class="tech-list">
            <li class="tech-list-item">#react</li>
            <li class="tech-list-item">#js</li>
            <li class="tech-list-item">#node.js</li>
            <li class="tech-list-item">#git</li>
          </ul>
          <p class="slide-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <button type="button" class="see-project-btn">See project</button>
        </div>
        <picture>
          <source
            srcset="
              ./img/desktop-img/project-desktop.jpg    1x,
              ./img/desktop-img/project-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/tablet-img/project-tablet.jpg    1x,
              ./img/tablet-img/project-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/project-mobile.jpg    1x,
              ./img/mobile-img/project-mobile@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/mobile-img/project-mobile.jpg" alt="project photo" />
        </picture>
      </div>
      <!-- <div class="swiper-slide">
        <ul class="tech-list">
          <li class="tech-list-item">#react</li>
          <li class="tech-list-item">#js</li>
          <li class="tech-list-item">#node.js</li>
          <li class="tech-list-item">#git</li>
        </ul>
        <p class="slide-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <button type="button" class="see-project-btn">See project</button>
        <picture>
          <source
            srcset="
              ./img/desktop-img/project-desktop.jpg    1x,
              ./img/desktop-img/project-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/tablet-img/project-tablet.jpg    1x,
              ./img/tablet-img/project-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/project-mobile.jpg    1x,
              ./img/mobile-img/project-mobile@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/mobile-img/project-mobile.jpg" alt="project photo" />
        </picture>
      </div>
      <div class="swiper-slide">
        <ul class="tech-list">
          <li class="tech-list-item">#react</li>
          <li class="tech-list-item">#js</li>
          <li class="tech-list-item">#node.js</li>
          <li class="tech-list-item">#git</li>
        </ul>
        <p class="slide-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <button type="button" class="see-project-btn">See project</button>
        <picture>
          <source
            srcset="
              ./img/desktop-img/project-desktop.jpg    1x,
              ./img/desktop-img/project-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/tablet-img/project-tablet.jpg    1x,
              ./img/tablet-img/project-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile-img/project-mobile.jpg    1x,
              ./img/mobile-img/project-mobile@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/mobile-img/project-mobile.jpg" alt="project photo" />
        </picture>
      </div> -->
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
