<section id="projects" class="projects">
  <h2 class="visually-hidden">Projects</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide-content">
          <ul class="tech-list">
            <li class="tech-list-item">#react</li>
            <li class="tech-list-item">#js</li>
            <li class="tech-list-item">#node.js</li>
            <li class="tech-list-item">#git</li>
          </ul>
          <p class="slide-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <button type="button" class="see-project-btn">See project</button>
        </div>
        <div class="image-container">
          <div class="gray-overlay"></div>
          <picture>
            <source
              srcset="
                /images/jpg_desktop/image_desktop_1.jpg    1x,
                /images/jpg_desktop/image_desktop_1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /images/jpg_tablet/image_tablet_1.jpg    1x,
                /images/jpg_tablet/image_tablet_1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/jpg_mobile/image_mobile_1.jpg    1x,
                /images/jpg_mobile/image_mobile_1@2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/images/jpg_mobile/image_mobile_1.jpg"
              alt="project photo"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <ul class="tech-list">
            <li class="tech-list-item">#react</li>
            <li class="tech-list-item">#js</li>
            <li class="tech-list-item">#node.js</li>
            <li class="tech-list-item">#git</li>
          </ul>
          <p class="slide-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <button type="button" class="see-project-btn">See project</button>
        </div>
        <div class="image-container">
          <div class="gray-overlay"></div>
          <picture>
            <source
              srcset="
                /images/jpg_desktop/image_desktop_2.jpg    1x,
                /images/jpg_desktop/image_desktop_2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /images/jpg_tablet/image_tablet_2.jpg    1x,
                /images/jpg_tablet/image_tablet_2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/jpg_mobile/image_mobile_2.jpg    1x,
                /images/jpg_mobile/image_mobile_2@2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/images/jpg_mobile/image_mobile_2.jpg"
              alt="project photo"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-content">
          <ul class="tech-list">
            <li class="tech-list-item">#react</li>
            <li class="tech-list-item">#js</li>
            <li class="tech-list-item">#node.js</li>
            <li class="tech-list-item">#git</li>
          </ul>
          <p class="slide-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <button type="button" class="see-project-btn">See project</button>
        </div>
        <div class="image-container">
          <div class="gray-overlay"></div>
          <picture>
            <source
              srcset="
                /images/jpg_desktop/image_desktop_3.jpg    1x,
                /images/jpg_desktop/image_desktop_3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /images/jpg_tablet/image_tablet_3.jpg    1x,
                /images/jpg_tablet/image_tablet_3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/jpg_mobile/image_mobile_3.jpg    1x,
                /images/jpg_mobile/image_mobile_3@2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/images/jpg_mobile/image_mobile_3.jpg"
              alt="project photo"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="buttons-wrapper">
      <div class="custom-button-prev">
        <button class="prev-btn">
          <svg width="32" height="32" class="prev-btn-svg">
            <use href="images/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </div>
      <div class="custom-button-next">
        <button class="next-btn">
          <svg width="32" height="32" class="next-btn-svg">
            <use href="images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
