<section class="container reviws-swiper">
  <h2 class="reviews-name">REVIEWS</h2>
  <ul class="reviews-list swiper-wrapper"></ul>

  <div class="reviews-nav">
    <div class="reviews-button-prev">
      <button type="button" class="reviews-prev-btn" disabled>
        <svg width="32" height="32" class="reviews-list-prev-icon">
          <use href="./images/icons.svg#arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="reviews-button-next">
      <button type="button" class="reviews-next-btn">
        <svg width="32" height="32" class="reviews-list-next-icon">
          <use href="./images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
