
 <section class="swiper-mini-section">
  <div class="swiper-container">
    <div class="swiper-wrapper">
     
      <div class="swiper-slide swiper-mini"><p class="swiper-item">HTML/CSS</p></div>
      <div class="swiper-slide swiper-mini"><p class="swiper-item">JavaScript</p></div>
      <div class="swiper-slide swiper-mini"><p class="swiper-item">React</p></div>
      <div class="swiper-slide swiper-mini"><p class="swiper-item">Node.js</p></div>
      <div class="swiper-slide swiper-mini"><p class="swiper-item">React Native</p></div>
      <div class="swiper-slide swiper-mini"><p class="swiper-item">Soft Skills</p></div>
    </div>
    <div class="about-button-next">
      <button class="about-button-next">
        <svg width="32" height="32" class="next-btn-svg">
          <use href="images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section> 
