 <div id="carousel-about-me-list" class="swiper-about-me">
        <ul class="swiper-wrapper-about-me  container-swiper-about-me">
          <li class="carousel-about-me-item  swiper-slide-about-me"><p>HTML/CSS</p></li>
          <li class="carousel-about-me-item swiper-slide-about-me"><p>JavaScript</p></li>
          <li class="carousel-about-me-item swiper-slide-about-me"><p>React</p></li>
          <li class="carousel-about-me-item swiper-slide-about-me"><p>Node.js</p></li>
          <li class="carousel-about-me-item swiper-slide-about-me"><p>React Native</p></li>
          <li class="carousel-about-me-item swiper-slide-about-me"><p>Soft Skills</p></li>
        </ul>
        <div class="swiper-button-next-about-me"></div>
      </div> 
