<!-- <section class="swiper-mini-section container">
  <div class="swiper-container">
    <div class="swiper-wrapper about-swiper-wrapper">
      <div class="swiper-item swiper-slide active">HTML/CSS</div>
      <div class="swiper-item swiper-slide">JavaScript</div>
      <div class="swiper-item swiper-slide">React</div>
      <div class="swiper-item swiper-slide">Node.js</div>
      <div class="swiper-item swiper-slide">React Native</div>
      <div class="swiper-item swiper-slide">Soft Skills</div>
      <div class="swiper-item swiper-slide">HTML/CSS</div>
      <div class="swiper-item swiper-slide">JavaScript</div>
      <div class="swiper-item swiper-slide">React</div>
      <div class="swiper-item swiper-slide">Node.js</div>
      <div class="swiper-item swiper-slide">React Native</div>
      <div class="swiper-item swiper-slide">Soft Skills</div>
    </div>

    <div class="about-button-wrapper">
      <button class="about-button-next">
        <svg width="32" height="32" class="next-btn-svg">
          <use href="images/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section> -->
