.about-me-container {
    margin-left: auto;
    margin-right: auto;}
  .about-me-section{
  padding-top: 32px;
  padding-bottom: 32px;}
  .about-me-description {
    max-width: 100%;
    border-radius: 24px;
    background: rgb(36, 37, 39);}
  .about-me-wrapper {
    max-width: 343px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 272px;}
  .about-me-text {
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #ffff;
  }
  .func {
    color: rgb(237, 59, 68);
  }
  .websites {
    color: rgba(250, 250, 250, 0.4);
  }
  .picture{
    margin-top: 16px;
    border-radius: 24px;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /*===============================Section-Accordion=================================*/
   .accordion-ab {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;}
  .accordion-in-about-me{
    margin-left: 16px;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;}
  .about-me-title span {
    position: absolute;
    top: 40%;
    right: 5px;}
  .about-me-title h2 {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;}
  .ac-icon {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-left: auto;
    transform: rotate(0);
    transition: all 0.1s ease-in;}
  .accordion-open {
    color: white;
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out,
      opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
    line-height: 24px;
    letter-spacing: -0.02em;}
  .accordion-open.active {
    visibility: visible;
    opacity: 1;
    padding: 20px 20px 20px 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out,
      opacity 0.1s ease-out, visibility 0.1s ease-out;}
  .accordion-open + span svg {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;}
  .accordion-open.active + span svg {
    transform: rotate(0);}
  .first-title-text{
    font-family:Inter Tight,sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #ffff;}
  .first-title-about-me{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    padding-top: 32px;}
  .accordion-in-about-me{
      margin-top: 32px;}
  .line-between-accordion-item{
  margin-top: 20px;
  max-width: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);} */
  /*===============================MEDIA TABLET==================================*/
  @media screen and (min-width: 768px) {
    .about-me-container {
      margin-left: 32px;
      margin-right: 32px;
      width: 704px; }
    .about-me-section {
      padding-top: 41px;
      padding-bottom: 48px;
    }
    .about-me-description {
      max-width: 704px;
      height: 673px;
      background: rgb(36, 37, 39);
    }
    .about-me-wrapper {
      max-width: 576px;
      height: auto;
      left: 64px;
      right: 64px;
      top: 64px;
      bottom: 436px;}
    .about-me-text {
      font-family: Inter,sans-serif;
      font-size: 38px;
      font-weight: 500;
      line-height: 1.05;
      letter-spacing: -0.03em;
      text-align: left;
      text-transform: uppercase;}
    .picture {
      margin-top: 16px;
      border-radius: 24px;
      overflow: hidden;
      max-width: 704px;}
    .line-between-accordion-item {
      margin-top: 32px;
      max-width: 704px;
      border: 1px solid rgba(250, 250, 250, 0.2);
    }
    .accordion-in-about-me{
      display: flex;
      flex-wrap: wrap;
    }
  }
   */
  /*============================MEDIA DESKTOP===========================*/
   @media screen and (min-width: 1440px) {
    .about-me-container {
      width: 1376px;
      display: flex;}
    .about-me-description-and-photo-wrapper{
        display: flex;
        gap:16px;}
    .about-me-section {
      padding-top: 48px;
      padding-bottom: 82px;}
  .first-title-about-me{
    margin-left: 696px;
    margin-bottom: 24px;}
    .about-me-description {
      border-radius: 24px;
      background: rgb(36, 37, 39);
      width: 680px;
      height: 700px;}
    .about-me-description-wrapper {
     max-width: 552px;
     height: 200px;
      padding-left: 64px;
      padding-right: 64px;
      padding-top: 64px;
      padding-bottom: 436px;
    }
    .picture {
      border-radius: 24px;
      overflow: hidden;
      max-width: 680px;}
    .line-between-accordion-item{
      margin-top: 32px;
      max-width: 1376px;
      border: 1px solid rgba(250, 250, 250, 0.2);}
  