
.ab{
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
    flex-direction: column;
  }
  .about-me {
    border-radius: 24px;
    max-width: 100%;
    height: 500px;
    background-color: transparent;
  
    font: 500 24px / 1.17 'Inter Tight', sans-serif;
    letter-spacing: -0.03em;
    line-height: 117%;
    text-transform: uppercase;
    color: black;
    padding: 32px;
  }
  body.dark .am-summary {
    color: #fafafa;
    background-color: transparent;
  }
  
  .am-photo {
    border-radius: 24px;
    width: 100%;
    height: 500px; 
  }
  
  #functional {
    color: #ed3b44;
  }
  #websites {
    color: grey;
  }
  .am-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  
    max-width: 100%;
    /* height: 608px; */
  
    margin-bottom: 96px;
  }
  .am-aboutme {
    width: 100%;
    /* height: 400px; */
    /* border: 1px solid rgba(250, 250, 250, 0.2);
    border-left: none;
    border-right: none; */
  }
  .am-accordion-wrap {
    font: 600 16px / 1.5 'Inter Tight', sans-serif;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
  
    display: flex;
    justify-content: space-between;
  }
  .am-wrapper {
    width: 100%;
    height: 72px;
    /* border: 1px solid rgba(250, 250, 250, 0.2); */
  }
  .aboutme-list {
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    /* margin: 48px; */
    /* max-width: 612px; */
  }
  .aboutme-text {
    font: 500 16px / 1.5 'Inter Tight', sans-serif;
    letter-spacing: -0.02em;
    /* color: #fafafa; */
    color: black;
  }
  body.dark .aboutme-text {
    color: #fafafa;
  }
  
  .ac {
    margin-top: 8px;
    /* border: 1px solid #eee;
    background-color: #fff; */
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    box-sizing: border-box;
    width: 100%;
  }
  
  .ac .ac-header {
    margin: 0;
    padding: 0;
  }
  .ac .ac-trigger {
    text-align: left;
    width: 100%;
    padding: 8px 32px 8px 8px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    border: 0;
    /* color: rgba(250, 250, 250, 0.4); */
    color: black;
    height: 72px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
  body.dark .ac .ac-trigger {
    color: rgba(250, 250, 250, 0.4);
  }
  .ac .ac-trigger:focus {
    color: #8a8a8a;
  }
  .ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
    transition: all 1s ease-in;
  }
  .ac .ac-panel .ac-text {
    padding: 8px;
    margin: 0;
    text-align: right;
  }
  .ac-icon {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transform: rotate(0);
    transition: all 0.1s ease-in;
  }
  
  .ac-icon-active {
    transform: rotate(180deg);
    transition: all 0.1s ease-in;
  }
  .ac.js-enabled .ac-panel {
    visibility: hidden;
    transition: all 1s ease-in;
  }
  .ac.is-active .ac-panel {
    visibility: visible;
    transition: all 1s ease-in;
  }
  
  /*Медиа запросы*/
  @media screen and (max-width: 374.98px) {
  }
  
  @media screen and (min-width: 375px) {
  }
  
  @media screen and (min-width: 768px) {
    .am-photo {
      height: auto;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .am-headline {
      margin-bottom: 96px;
      flex-direction: row;
    }
    .am-summary {
      height: 700px;
      font: 500 38px / 1.05263 'Inter Tight', sans-serif;
      line-height: 105%;
      padding: 64px;
      max-width: 680px;
    }
    .am-photo {
      max-width: 680px;
      height: 700px;
    }
    .aboutme-list {
      display: flex;
      /* align-items: flex-end; */
      justify-content: flex-start;
      flex-direction: column;
      gap: 32px;
      width: 50%;
      margin-left: auto;
      margin-right: 0;
      padding: 48px;
    }
  }