.about-me-section {
  max-width: 375px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.about-me-description {
  max-width: 343px;
  height: 500px;
  border-radius: 24px;
  background: rgb(36, 37, 39);
}
.about-me-description-wrapper {
  max-width: 279px;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 272px;
}
.about-me-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #ffff;
}
.func {
  color: rgb(237, 59, 68);
}
.websites {
  color: rgba(250, 250, 250, 0.4);
}
.about-me-photo {
  margin-top: 16px;
  border-radius: 24px;
  overflow: hidden;
  max-width: 343px;
  width: 100%;
  height: auto;
}

.accordion-ab {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-in-about-me {
  margin-top: 32px;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.about-me-title span {
  position: absolute;
  top: -2%;
  right: 8px;
}
.about-me-title h2 {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

.ac-icon {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  transform: rotate(0);
  transition: all 0.1s ease-in;
}

.accordion-open-about-me {
  color: white;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: visible;
  transition: max-height 0.5s ease, padding 0.5s ease,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.accordion-open-about-me.active {
  visibility: visible;
  opacity: 1;
  padding: 20px 30px 20px 0px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.accordion-open-about-me + span svg {
  transform: rotate(180deg);
  transition: all 0.5s ease-in;
}

.accordion-open-about-me.active + span svg {
  transform: rotate(0);
}

.first-title-text {
  font-weight: 500;
  font-size: 16px;
  color: #ffff;
}

.first-title-about-me {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  padding-top: 32px;
}

.line-between-accordion-item {
  margin-top: 20px;
  max-width: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 768px) {
  .about-me-section {
    min-width: 704px;
    padding-top: 41px;
    padding-bottom: 48px;
  }
  .about-me-description {
    max-width: 704px;
    height: 673px;
    background: rgb(36, 37, 39);
  }
  .about-me-description-wrapper {
    max-width: 514px;
    height: 200px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    padding-bottom: 436px;
  }
  .about-me-text {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
  }

  .first-title-about-me {
    width: 704px;
  }

  .first-title-text {
    width: 612px;
    height: 144px;
  }

  .about-me-photo {
    margin-top: 16px;
    border-radius: 24px;
    overflow: hidden;
    max-width: 704px;
  }

  .line-between-accordion-item {
    margin-top: 32px;
    max-width: 704px;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
  .accordion-in-about-me {
    margin-top: 64px;
    max-width: 704px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-section {
    max-width: 1440px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .about-me-description-and-photo-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 96px;
  }

  .accordion-in-about-me {
    margin-top: 96px;
    max-width: 1440px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }

  .about-me-description {
    border-radius: 24px;
    background: rgb(36, 37, 39);
    width: 680px;
    height: auto;
  }
  .first-title-text {
    width: 612px;
    height: 144px;
  }
  .about-me-text {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
  }

  .about-me-photo {
    margin-top: 0;
    border-radius: 24px;
    overflow: hidden;
    max-width: 680px;
    width: 680px;
    height: 700px;
  }

  .first-title-about-me {
    padding-right: 24px;
    width: 614px;
    padding-right: 58px;
    margin-left: 696px;
    margin-bottom: 24px;
  }
  .line-between-accordion-item {
    margin-top: 32px;
    max-width: 1348px;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
}
