
.ab {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
    margin-top: 96px;

   
  }
  .about-me {
  border-radius: 24px;
  width: auto;
  height: 500px;
  font: 500 38px / 1.17 'Inter Tight', sans-serif;
  color: #fafafa;
  letter-spacing: -0.03em;
  line-height: 117%;
  text-transform: uppercase;
  padding: 32px;
  background: rgb(36, 37, 39);
  }

  .text-main{
    width: 560px;
  }
  .my-photo {
    border-radius: 24px;
    height: 625px; 
    width: auto;
  }
 
  #func {
    color: #ed3b44;
  }
  #websites {
    color: grey;
  }
  .am-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    max-width: 100%;
    height: 608px; 
    margin-bottom: 800px;
  }

  .am-accordion-wrap {
    font: 600 16px / 1.5 'Inter Tight', sans-serif;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
  
    display: flex;
    justify-content: space-between;
  }
  .about-me-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .about-me-text {
    font: 500 16px / 1.5 'Inter Tight', sans-serif;
    letter-spacing: -0.02em;
    color: rgb(250, 250, 250);
    
  }
  .main-accordion {
    margin-top: 8px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    box-sizing: border-box;
    width: 100%;
  }
  .main-accordion .ac-header {
    margin: 0;
    padding: 0;
  }
  .main-accordion .ac-trigger {
    text-align: left;
    width: 100%;
    padding: 8px 32px 8px 8px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
    height: 68px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }
 .ac-trigger {
    color: rgba(250, 250, 250, 0.4);
  }
  .main-accordion .ac-trigger:focus {
    color: #8a8a8a;
  }
  .main-accordion.ac-panel {
    overflow: hidden;
    transition-property: visibility;
    transition-timing-function: ease;
  }
  .main-accordion .ac-panel .ac-text {
    padding: 8px;
    margin: 0;
    text-align: right;
  }
  .ac-icon {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-left: auto;

  }
  
  .ac-icon-active {
    transform: rotate(180deg);
    transition: all 0.5s ease-in;
  }
  .main-accordion.js-enabled .ac-panel {
    visibility: hidden;
  }
  .main-accordion.is-active .ac-panel {
    visibility: visible;
  }
  
  .about-me-swiper {
    margin-top: 32px;
  }
  
  .about-me-swiper-wrapper {
    display: flex;
    position: relative;
  }
  
  .about-me-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
  
  .about-me-swiper-slide-backing {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ed3b44;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    z-index: -1;
  }



  /*Медиа запросы*/
  @media screen and (max-width: 374.98px) {
    .ab{
        display: block;
        margin-top: 76px;
      }
    .text-main{
        width: 289px;
        height: 196px;
    }
    .about-me {
        height: 500px;
        font: 500 24px / 1.2'Inter Tight', sans-serif;
        letter-spacing: -0.03em;
        margin-bottom: 16px;
    }

    .my-photo {
        border-radius: 24px;
        height: 500px; 
        width: 343px;
      }

      .am-accordion-wrap {
        font: 500 16px / 1.5 'Inter Tight', sans-serif;}

        .ac-trigger{
            padding: 0 10px;
        }

  }
  
  @media screen and (min-width: 375px) {
    .ab{
        display: block;
    }
    .text-main{
        width: 360px;
        height: auto;
    }
  }
  
  @media screen and (min-width: 768px) {
  .ab{
    display: flex;
  }
  .text-main{
    width: 560px;
    height: auto;
}

.about-me {
    border-radius: 24px;
    width: 620px;
    height: auto;
    font: 500 38px / 1.2 'Inter Tight', sans-serif;
    color: #fafafa;
    letter-spacing: -0.03em;
    line-height: 105%;
    text-transform: uppercase;
    padding: 32px;
    background: rgb(36, 37, 39);
    }
  }
  
  @media screen and (min-width: 1440px) {
    .ab {
      margin-bottom: 96px;
      flex-direction: row;
    }
    .about-me {
      height: 500px;
      font: 500 38px / 1.05263 'Inter Tight', sans-serif;
      line-height: 105%;
      padding: 64px;
      max-width: 680px;
    }
    .am-photo {
      max-width: 680px;
      height: 700px;
    }
    .about-me-list {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 32px;
      width: 50%;
      margin-left: auto;
      margin-right: 0;
      padding: 48px;
    }
  }