.covers-container {
  padding-left: 0;
  padding-right: 0;
  min-width: 405px;
  margin-right: auto;
  margin-left: auto;
}
.covers {
  background-color: #3b3b3b;
  background-image: url('/images/Covers/covers_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: cover;

  width: 100%;
  height: 508px;
  overflow: hidden;
}

.content {
  position: relative;
}

.marquee {
  position: absolute;
  right: -800px;
  left: -800px;
  overflow: hidden;
}

.covers-img {
  height: 162px;
  width: 282px;
}

.marquee__inner {
  display: flex;
  gap: 40px;
  transform: rotate(16deg);
  overflow: hidden;
}

.marquee {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.marquee__line {
  flex-shrink: 0;

  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media screen and (min-width: 768px) {
  .covers {
    width: 798px;
    height: 960px;
  }

  .covers-img {
    height: 314px;
    width: 544px;
  }

  .marquee__inner {
    gap: 60px;
  }

  .marquee {
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .covers-container {
    width: 1440px;
  }
}
