li.accordion {
  margin-bottom: 0;
}
.faq-section {
  margin-top: 64px;
  margin-bottom: 38px;
}

.faq-section-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  padding-bottom: 32px;
}

.accordion {
  position: relative;
  margin-bottom: 20px;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  /* border: 1px solid rgba(250, 250, 250, 0.2); */
}

.faq-title {
  padding-top: 20px;
  padding-bottom: 16px;
}

.faq-title span {
  position: absolute;
  top: 15%;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.faq-title h2 {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  padding-right: 78px;
  letter-spacing: 0.02em;
  /* cursor: pointer; */
}

.accordion-open {
  margin: 0;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion-open p {
  padding-top: 16px;
  color: gray;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 24px;
}

.accordion-open.active {
  visibility: visible;
  opacity: 1;
  padding: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.accordion-open + span svg {
  transform: rotate(180deg);
  transition: all 0.5s ease-in;
}

.accordion-open.active + span svg {
  transform: rotate(0);
}

@media screen and (max-width: 374.9px) {
  .faq-list {
    display: block;
  }

  .faq-title h2 {
    cursor: pointer;
  }

  .faq-title span {
    right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .right-border {
    border-left: none;
  }

  .border-none {
    border-right: none;
    border-left: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-title-left {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .faq-title-left span {
    width: 40px;
    height: 40px;
    right: 32px;
    top: 32px;
  }

  .faq-title-right {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
  }

  .faq-title-right span {
    width: 40px;
    height: 40px;
    right: 0;
    top: 32px;
  }
}
