li.accordion {
  margin-bottom: 0;
}

.accordion {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-title span {
  position: absolute;
  top: 40%;
  right: 5px;
}

.faq-title h2 {
  color: white;
}

.faq-icon {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.accordion-open {
  color: white;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.accordion-open.active {
  visibility: visible;
  opacity: 1;
  padding: 20px 20px 20px 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out, visibility 0.1s ease-out;
}

.accordion-open + span svg {
  transform: rotate(180deg);
  transition: all 0.5s ease-in;
}

.accordion-open.active + span svg {
  transform: rotate(0);
}

@media screen and (max-width: 374.9px) {
  .faq-list {
    display: block;
  }

  .faq-title h2 {
    cursor: pointer;
  }
}

@media screen and (max-width: 368px) {
  .accordion {
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
}

@media screen and (max-width: 1440px) {
  .faq-list {
    display: flex;
    flex-wrap: wrap;
  }
  .accordion {
    width: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
}
