@import url(./reset.css);

/* body{
    background-color: #FAFAFA;
} */

.fatherSection{
    padding: 32px 16px 0 16px;
    width: 343px;
    margin: 0 auto;
}

.logo-flex{
    display: flex;
    gap: 8px;
}

.logo-jef{
    color: #FAFAFA;
    width: 84px;
    height: 19px;
}

.link-item{
    font: Inter Tight;
    width: 500px;
    Size:16px;
    height: 19.36px;
    color: #FAFAFA;
}

.nav-link{
    display: none;
}

.orderH3{
    color: #FAFAFA;
    width: 500px;
    height: 45px;
}


