
@import url(./reset.css);

/* =============================Mobile Styles============================= */
.centering{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}

.fatherSection{
position: absolute;
width: 343px;
height: 80px;
left: 16px;
right: 16px;
top: 32px;
padding: 0px;
margin: 0 auto;
}

.meny{
    display: none;
}

.li-Cuild-Ul{
gap: 12px;

height: 152px;
left: 150px;
right: 151px;
top: 230px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.reff{
color: rgb(250, 250, 250);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.02em;
text-align: left;
text-decoration-line: underline;
}

.logo-flex{
display: flex;
gap: 8px;
}

.logo-jef{
color: #FAFAFA;
width: 84px;
height: 19px;
}

.logo{
width: 80px;
height: 80px;
border-radius: 18px;
}

.link-item{
width: 164px;
font-size: 16px;
height: 19.36px;
color: #FAFAFA;
display: flex;
flex-direction: column;
align-items: center;
}

.link-order{
border-radius: 60px;
background: rgb(237, 59, 68);
margin: 0 auto;

width: 164px;
height: 45px;
left: 115px;
right: 96px;
top: 673px;
display: flex;
align-items: center;
border: none;
}

.nav-link-js{
display: none;
}

.orderH3{
color: #FAFAFA;
width: 164px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
}

.positionBurger{
display: flex;

}

.iconBurger{
width: 28px;
height: 28px;
}
/*=============================Mobile Styles=============================*/

.modal {
display: none; 
position: fixed; 
z-index: 999;  
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

.modal-content {
background: linear-gradient(270deg, rgb(28, 29, 32) 49.826%,rgb(105, 41, 45) 67.37%,rgb(237, 59, 68) 98.722%);
margin: auto;
padding: 20px;
width: 375px;
height: 812px;
}

.close {
    color: #aaaaaa;
    float: right;
    width: 28px;
    right: 28px;
    top: 32px;
}

/* =============================Tablet Styles============================= */
@media screen and (min-width: 768px){

    .fatherSection{
    width: 704px;
    height: 80px;
    }
    
    .iconBurger{
    display: none;
    }
    
    @Media(-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {

    .logo{
    background-image: url('../images/logo_vector@2x.jpeg');
    }
    }
    }

/*=============================Tablet Styles=============================*/

