/* =============================Mobile Styles============================= */

.centering {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.father-section {
  position: absolute;
  max-width: 343px;
  height: 80px;
  left: 16px;
  right: 16px;
  top: 32px;
  padding: 0px;
  margin: 0 auto;
}

.menu {
  display: none;
}

.hidden-menu {
  display: none;
}

.visible-menu {
  display: none;
}

.link-order-tablet-dacktop {
  display: none;
}

.li-cuild-ul {
  gap: 12px;
  height: 152px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 230px;
}

.reff {
  color: rgb(250, 250, 250);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration-line: underline;
}

.logo-flex {
  display: flex;
  gap: 8px;
}

.logo-jef {
  color: #fafafa;
  width: 84px;
  height: 19px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 18px;
}

.link-item {
  width: 164px;
  font-size: 16px;
  height: 19.36px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-order {
  border-radius: 60px;
  background: rgb(237, 59, 68);
  margin: 0 auto;
  width: 164px;
  height: 45px;
  left: 115px;
  right: 96px;
  top: 673px;
  display: flex;
  align-items: center;
  border: none;
}

.nav-link-js {
  display: none;
}

.order-h3 {
  color: #fafafa;
  width: 164px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-burger {
  width: 28px;
  height: 28px;
}
/*=============================Mobile Styles=============================*/

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-image: url(/images/Hero/modal-mobile.png);
  background-size: cover;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 812px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: url(/images/Hero/hero-mobile.png);
}

.modal-content {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .container-hero {
      background-image: url(/images/Hero/hero-mobile@2x.png);

      animation: modal-content 10s infinite;
      background-repeat: no-repeat;
    }
  }
}

.modal-content {
  animation: container-hero 10s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/Hero/hero-mobile.png);
}

@keyframes container-hero {
  0% {
    background-image: url(/images/Hero/hero-mobile@2x.png);
  }
  33% {
    background-image: url(/images/Hero/hero-mobile-orange@2x.png);
  }
  66% {
    background-image: url(/images/Hero/hero-mobile-green@2x.png);
  }
  100% {
    background-image: url(/images/Hero/hero-mobile-blue@2x.png);
  }
}

.close {
  color: #aaaaaa;
  float: right;
  width: 28px;
  right: 28px;
  top: 32px;
  position: absolute;
}

/* =============================Tablet Styles============================= */

@media screen and (min-width: 768px) {
  .li-cuild-ul {
    display: inline;
  }

  .menu {
    width: 42px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    cursor: pointer;
  }

  menu::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
  }

  .position-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69px;
    gap: 10px;
    height: 89px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;
  }
  .visible-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69px;
    gap: 10px;
  }

  .menu-list {
    color: rgb(250, 250, 250);
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
  }

  .link-order {
    display: inline;
  }

  .father-section {
    width: 704px;
    position: absolute;
    max-width: 715px;
    height: 80px;
    left: 16px;
    top: 32px;
    padding: 0px;
    margin: 0 auto;
  }

  .link-order-tablet-dacktop {
    max-width: 174px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 60px;
    background: rgb(237, 59, 68);
    width: 100%;
    transition: 0.5s;
  }

  .link-order-tablet-dacktop:hover,
  .link-order-tablet-dacktop:focus {
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
      1px 2px 4px 0px rgba(0, 255, 255, 0.7),
      2px 4px 8px 0px rgba(0, 255, 255, 0.7),
      2px 4px 16px 0px rgba(0, 255, 255, 0.7);
    color: chocolate;
    border: none;
  }

  .order-h3-tablet-desktop {
    color: rgb(250, 250, 250);
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .centering {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 151px;
    width: 100%;
    position: absolute;
    z-index: 9999;
  }

  .icon-burger {
    display: none;
  }
}

/*=============================Tablet Styles=============================*/

/* =========================Decktop Style================================ */
@media screen and (min-width: 1440px) {
  .father-section {
    position: absolute;
    height: 80px;
    left: 32px;
    bottom: 7750px;
  }

  .centering {
    gap: 487px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 32px;
    left: -302px;
  }

  .menu {
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
  }

  menu::after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
  }

  .position-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69px;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .visible-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69px;
    gap: 10px;
  }

  .menu-list {
    color: rgb(250, 250, 250);
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
  }

  .icon-burger {
    display: none;
  }
}

/* =========================Decktop Style================================ */
