@import url('./reset.css');

 body{
    margin: 0;
 }

 .containerHero{
    display: flex;
    align-items: center;
 }

.fatherHeroSaction{
    width: 375px;
    height: 812px;
    background: linear-gradient(90deg, rgba(148, 19, 27, 1) 11%, rgba(114, 14, 14, 1) 42%, rgba(0, 0, 0, 1) 100%);
    margin: 0 auto;
    padding: 0 15px;
}


.position{
    display: flex;
    gap: 162px;
    flex-direction: column;
    align-items: center;
}
.kingText{

    font-family: Inter;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    position: relative;
    width: 342px;
    top: 281px;
    bottom: 231px;
    height: 300px;

}

.link-message{
    position: absolute;
    width: 342px;
    height: 37px;
    top: 743px;
    bottom: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 4px;
}

.item-link-mesage{
position: static;
width: 37px;
height: 37px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.item-link-mesage-mailto{
    color: rgb(250, 250, 250);
    width: 191px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
}


.messages{
    color: rgb(250, 250, 250);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 8px 10px 8px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 20px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.emaill{
    font-family: Inter, tight;
    width: 178px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
}