/* =========================Mobile Style================================ */

@media screen and (max-width: 354px) {
  .link-message {
    padding-bottom: 32px;
  }
}

.container-hero {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(/images/Hero/hero-mobile.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .container-hero {
    background-image: url(/images/Hero/hero-tablet-orange@2x.png);

    animation: container-hero 10s infinite;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.container-hero {
  animation: container-hero 10s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/Hero/hero-mobile.png);
}

@keyframes container-hero {
  0% {
    background-image: url(/images/Hero/hero-mobile@2x.png);
  }
  33% {
    background-image: url(/images/Hero/hero-mobile-orange@2x.png);
  }
  66% {
    background-image: url(/images/Hero/hero-tablet-green@2x.png);
  }
  100% {
    background-image: url(/images/Hero/hero-tablet-blue.png);
  }
}

.father-hero-saction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;
  width: 100%;
  height: 812px;
}

.position {
  display: flex;
  gap: 162px;
  flex-direction: column;
  align-items: center;
}
.king-text {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  color: rgb(250, 250, 250);
  padding-top: 281px;
  max-width: 342px;
  letter-spacing: -0.03em;
  margin-bottom: 150px;
  margin-left: 15px;
}

.link-message {
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
  flex-wrap: wrap;
}

.item-link-mesage {
  position: static;
  width: 37px;
  max-height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-link-mesage-mailto {
  color: rgb(250, 250, 250);
  width: 191px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px 10px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}

.messages {
  color: rgb(250, 250, 250);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  padding: 10px 8px 10px 8px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 20px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  height: 17px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
}
/* =========================Mobile Style================================ */

/* =========================Tablet Style================================ */
@media screen and (min-width: 768px) {
  .container-hero {
    max-width: 1439px;
    width: 100%;
    background-image: url(../images/Hero/hero-tablet-orange.png);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .container-hero {
      background-image: url(../images/Hero/hero-tablet-orange@2x.png);

      animation: container-hero 10s infinite;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .container-hero {
    animation: container-hero 10s infinite;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @keyframes container-hero {
    0% {
      background-image: url(../images/Hero/hero-tablet-orange@2x.png);
    }
    33% {
      background-image: url(../images/Hero/hero-tablet-blue@2x.png);
    }
    66% {
      background-image: url(../images/Hero/hero-tablet-green@2x.png);
    }
    100% {
      background-image: url(../images/Hero/hero-tablet-orange@2x.png);
    }
  }

  .father-hero-saction {
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 32px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .king-text {
    letter-spacing: -0.03em;
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    padding-top: 281px;
    max-width: 632px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 187px;
  }

  .messages {
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 10px 8px 10px 8px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  .messages:hover {
    background-color: blue;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
      1px 2px 4px 0px rgba(0, 255, 255, 0.7),
      2px 4px 8px 0px rgba(0, 255, 255, 0.7),
      2px 4px 16px 0px rgba(0, 255, 255, 0.7);
    background-color: darkblue;
    color: chocolate;
  }

  .link-message {
    gap: 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 32px;
    bottom: 32px;
  }

  .item-link-mesage {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
  }

  .item-link-mesage-mailto {
    color: rgb(250, 250, 250);
    width: 239px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    transition: 0.5s;
  }

  .item-link-mesage-mailto:hover {
    background-color: blue;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
      1px 2px 4px 0px rgba(0, 255, 255, 0.7),
      2px 4px 8px 0px rgba(0, 255, 255, 0.7),
      2px 4px 16px 0px rgba(0, 255, 255, 0.7);
    background-color: darkblue;
    color: chocolate;
  }

  .email {
    width: 164px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 31px 14px 31px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }
}

/* =========================Tablet Style================================ */

/* =========================Decktop Style================================ */

@media screen and (min-width: 1440px) {
  .container-hero {
    padding: 0px 15px;
    width: 100%;
    background-image: url(/images/Hero/hero-desctop-orange.png);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .container-hero {
      background-image: url(../images/Hero/hero-desctop-orange@2x.png);

      animation: container-hero 10s infinite;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .container-hero {
    animation: container-hero 10s infinite;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @keyframes container-hero {
    0% {
      background-image: url(/images/Hero/hero-desctop-orange@2x.png);
    }
    33% {
      background-image: url(/images/Hero/hero-desctop@2x.png);
    }
    66% {
      background-image: url(/images/Hero/hero-desctop-green@2x.png);
    }
    100% {
      background-image: url(/images/Hero/hero-desctop-blue.png);
    }
  }

  .king-text {
    letter-spacing: -0.03em;
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    padding-top: 281px;
    max-width: 1084px;
    height: 270px;
    margin: 0px auto 187px;
  }

  .link-message {
    gap: 10px;
    height: 55px;
    display: flex;
    position: absolute;
    left: 870px;
    justify-content: flex-start;
    width: 503px;
  }
}
/* =========================Decktop Style================================ */
