/* .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  } */

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  z-index: 9999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.close-menu-btn {
  position: absolute;
  top: 40px;
  right: 18px;
  height: 28px;
  width: 28px;
  border: none;
  background-color: transparent;
}

.close-menu-icon {
  fill: rgba(250, 250, 250, 1);
}

.menu-navigation {
  margin-top: 302px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.mobile-menu-item-link {
  text-decoration: underline;
  color: #fafafa;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  /* text-transform: uppercase; */
}
.mobile-menu-button {
  margin-top: 289px;
  width: 164px;
  left: 106px;
  padding: 14px 31px 14px 31px;
  border: 0;
  border-radius: 60px;
  background-color: rgba(237, 59, 68, 1);
}

.mobile-menu-button-link {
  font-family: Inter Tight;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 1);
}
