.projects {
  width: 343px;
  height: 952px;
  margin: 39px 16px 64px 16px;
}

.swiper-wrapper {
  display: flex;
  gap: 10px;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 24px;
  width: 343px;
  height: 800px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 279px;
  padding-left: 32px;
  padding-top: 32px;
}

.tech-list-item {
  font-family: Inter;
  font-size: 16px;
  border: 1px solid #a8a8a8;
  border-radius: 60px;
  padding: 13px 18px;
}

.slide-text {
  font-family: Inter;
  font-size: 24px;
  letter-spacing: -3%;
  line-height: 28px;
  width: 294px;
  margin-top: 94px;
  margin-bottom: 30px;
  padding-left: 32px;
}

.see-project-btn {
  font-family: Inter;
  color: #fafafa;
  background-color: #ed3b44;
  border-radius: 60px;
  border: 0;
  padding: 13px 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

/* ---------------------------------------------------- */
.image-container {
  position: relative;
  padding: 100px 16px 100px 16px;
}

.gray-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 395px;
  padding: 0;
  border-radius: 0px 0px 24px 24px;
  background-color: #242527;
  z-index: 1;
}

.image-container img {
  display: block;
  width: 312px;
  height: 195px;
  position: relative;
  z-index: 2;
}

.next-btn,
.prev-btn {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fafafa80;
  padding: 10px;
}

.prev-btn {
  border: 1px solid #fafafa33;
}

/* .next-btn-svg,
.prev-btn-svg {
  padding: 14px;
} */

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .projects {
    width: 704px;
    height: 1379px;
    margin: 71px 32px 96px 32px;
  }

  .swiper-slide {
    width: 704px;
    height: 1165px;
  }

  .tech-list {
    width: 335px;
    padding-top: 64px;
    padding-left: 64px;
  }

  .slide-text {
    font-size: 44px;
    line-height: 44px;
    width: 550px;
    margin-top: 163px;
    padding-left: 64px;
  }

  .see-project-btn {
    margin-bottom: 63px;
    margin-left: 64px;
  }

  .image-container {
    padding: 120px 45px 120px 45px;
  }

  .gray-overlay {
    width: 674px;
    height: 625px;
  }

  .image-container img {
    width: 614px;
    height: 385px;
  }

  .next-btn,
  .prev-btn {
    width: 68px;
    height: 68px;
    padding: 0;
  }

  .next-btn-svg,
  .prev-btn-svg {
    padding: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    width: 1376px;
    height: 813px;
    margin: 139px 32px 164px 32px;
  }

  .swiper-slide {
    flex-direction: row;
    gap: 61px;
    width: 1376px;
    height: 625px;
  }

  .tech-list {
    width: 355px;
  }

  .slide-text {
    width: 563px;
    margin-top: 222px;
    margin-bottom: 32px;
  }

  .see-project-btn {
    margin-bottom: 0;
  }

  .image-container {
    padding: 120px 37px 120px 37px;
  }

  .gray-overlay {
    width: 658px;
    height: 625px;
    border-radius: 0px 24px 24px 0px;
  }
}
