.projects {
  width: 343px;
  height: 952px;
  margin: 39px 16px 64px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  gap: 10px;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 24px;
  width: 343px;
  height: 812px;
  padding: 32px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 279px;
}

.tech-list-item {
  border: 1px solid #a8a8a8;
  border-radius: 60px;
  padding: 13px 18px;
}

.slide-text {
  font-family: Inter;
  font-size: 24px;
  letter-spacing: -3%;
  line-height: 28px;
  width: 279px;
  margin-top: 94px;
  margin-bottom: 30px;
}

.see-project-btn {
  color: #fafafa;
  background-color: #ed3b44;
  border-radius: 60px;
  border: 0;
  padding: 13px 32px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects {
    width: 704px;
    height: 1379px;
    margin: 71px 32px 96px 32px;
  }

  .swiper-slide {
    width: 704px;
    height: 1191px;
    padding: 64px;
  }

  .tech-list {
    width: 327px;
  }

  .slide-text {
    font-size: 44px;
    line-height: 44px;
    width: 494px;
    margin-top: 163px;
    margin-bottom: 107px;
  }

  .see-project-btn {
    margin-bottom: 63px;
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    width: 1376px;
    height: 813px;
    margin: 139px 32px 164px 32px;
  }

  .swiper-slide {
    flex-direction: row;
    gap: 61px;
    width: 1376px;
    height: 625px;
  }

  .slide-text {
    width: 563px;
    margin-top: 222px;
    margin-bottom: 32px;
  }

  .see-project-btn {
    margin-bottom: 0;
  }
}
