
.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 262px;

}
.about-swiper-wrapper {
  display: flex;
  width: 260px;
  height: 130px;
}
.swiper-item {
  width: 130px !important;
  height: 130px !important;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: #fafafa;
  text-align: center;
  line-height: 130px;
  font-size: 16px;
}

.swiper-item.active {
  background-color: #ed3b44;
}
.about-button-next {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: transparent;
  stroke: #3b3b3b;
  border: transparent;
}


@media screen and (min-width: 768px) {
 
  .swiper-container {
    width: 604px;
  }
  .swiper-item {
    width: 200px !important;
    height: 200px !important;
    line-height: 200px;
    font-size: 20px;
  }
  
}

@media screen and (min-width: 1440px) {
 .swiper-container {
    width: 1209px;
    height: 202px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
