
.swiper-container{
  display: flex;
 justify-content: center;
 width: 1000px;

}
.swiper-mini-section {
  margin-top: 32px;
  margin-bottom: 32px;
}
.swiper-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: #fafafa;
}
.about-swiper-button {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  fill: #3b3b3b;
  box-sizing: border-box;
  margin-left: 60px;
}

.swiper-mini{
  display: flex;
  justify-content: center;
}
.swiper-item:active {
  background-color: rgb(237, 59, 68);
}

.swiper-button-next .swiper-button-prev:after,
.swiper-button-next:after {
  color: #3b3b3b;
  border-radius: 50%;
}
.about-button-next {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: transparent;
  stroke: #3b3b3b;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .swiper-item {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-item {
    width: 200px;
    height: 200px;
  }
}
